    <footer class="page-footer">
        <div class="section section--border section--xlr">
            <div class="container">
                <div class="grid">
                    <div class="grid__12 grid--bp-med__8 grid--bp-med__offset-2">
                        <div class="text--center">
                            <h2>Getting Started</h2>
                            <div class="inline inline--spaced">
                                <div class="inline__item">
                                    <a href="/docs" class="btn">Check to the docs</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section--light">
            <div class="container">
                <div class="grid">
                    <div class="grid__12 grid--bp-med__8 grid--bp-med__offset-2">
                        Takeoff © 2017
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/highlight.js/8.9.1/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.1/clipboard.min.js"></script>
    <script type="text/javascript">
        window.app = window.app || {};
        app.variables = {
            assetsPath: "/",
        };
    </script>
    <!--[if lt IE 9]><script type="text/javascript" src="/2016tmp/js/selectivizr.min.js"></script><![endif]-->
    <script type="text/javascript" src="/js/main.min.js"></script>
    <script>
        (function() {
            hljs.initHighlightingOnLoad();
            new Clipboard('.btn');
        })();
    </script>
