<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Takeoff - A great framework - {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <link href='//fonts.googleapis.com/css?family=Material+Icons|Open+Sans:400italic,600italic,700italic,400,700,600|Merriweather:400italic,400,700' rel='stylesheet' type='text/css'>
    <!--[if gt IE 8]><!--><link rel="stylesheet" href="/css/main.min.css"><!--<![endif]-->
    <!--[if lt IE 9]><link rel="stylesheet" href="/css/main-legacy.min.css"><![endif]-->

    <link rel="stylesheet" href="//cdn.jsdelivr.net/highlight.js/8.9.1/styles/github-gist.min.css">

    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <!-- <script type="text/javascript" src="/js/modernizr.min.js"></script> -->
    <!--[if lt IE 9]><script type="text/javascript" src="/js/polyfill.min.js"></script><![endif]-->
</head>
